apiVersion: v1
kind: Secret
metadata:
  name: dockerhub-argocd-secret
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository

stringData:
  name: dockerhub-repo-secret
  url: registry-1.docker.io
  enableOCI: "true"
  type: helm
  username: "OlenaSiller"
  password: "Korlenbergstr_3"
  ForceHttpBasicAuth: "true"